<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Promisse</title>
    
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    
    <link rel="stylesheet" href="style.css" />
</head>
<body ng-app="brincandoPromiseApp">
    
    <div class="main">
        <div ng-controller="mainController">
            <div ng-repeat="item in listaItens">
                <div class="{{'a'+item.id}} item" ng-model="item.descricao"></div>
            </div>
        </div>
    </div>
        
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/lodash/dist/lodash.compat.js"></script>
    <script src="bower_components/restangular/dist/restangular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/underscore/underscore.js"></script>
    <script src="bower_components/angular-promise-tracker/promise-tracker.js"></script>
    <!-- endbower -->

    <script src="main.js"></script>
</body>
</html>